* {
    padding: 0;
    margin: 0;
}

#tweets {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: darkorange;
    position: absolute;
    top: 1%;
    left: 1%;
    /* transform: translate(-50%, -50%); */
}

.getTweet {
    font-size: 16px;
    background-color: yellow;
    position: absolute;
    top: 6%;
    left: 1%;
}

#images {
    position: absolute;
    top: 10%;
    left: 1%;
}

#imgs {
    background-color: lightgray;
    width: 40%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 55%;
}