* {
    padding: 0;
    margin: 0;
}

.get {
    font-size: 16px;
    background-color: yellow;
    position: absolute;
    top: 1%;
    left: 1%;
    width: 60px;
}

.output {
    font-size: 16px;
    background-color: orange;
    position: absolute;
    top: 1%;
    left: 5%;
    width: 60px;
}

#url {
    font-size: 14px;
    position: absolute;
    top: 50px;
    left: 10px;
}

#images {
    position: absolute;
    top: 1%;
    left: 29%;
    width: 70%;
    height: 98%;
}