<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>TwitterClient</title>
</head>

<body>
    <div>
        <button class="get">get</button>
        <button class="output">output</button>
    </div>
    <div id="url">
        <p>---Image URL---</p>
    </div>
    <div id="images">
        <div>{{ links }}</div>
    </div>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>