<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="icon" href="/static/img/favicon.ico">
    <title>TwitterClient</title>
</head>

<body>
    <div id="tweets">
        <h1>text</h1>
    </div>
    <div>
        <button class="getURL">getURL</button>
        <button class="showURL">showURL</button>
    </div>
    <div id="images">
        <img src="https://pbs.twimg.com/media/FRG5VDfWUAARKyw.jpg" , height="320">
        <img src="https://pbs.twimg.com/media/FRHJNnjaAAEO-VN.jpg" , height="320">
    </div>
    <canvas id="imgs"></canvas>
    <script type="text/javascript" src="/static/js/main.js"></script>
</body>

</html>